// VARIABLES ////////////////////////////////////////////////////////////////////

// Tipografía --------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-family-base: 'Montserrat', sans-serif;


h1 {
    font-size: 2em;
    margin-bottom: 20px;
}




// Colores -----------------------------------------------------------------------
:root {
    --white: #FFFFFF;
    --dark: #1E1D1B;
    --dark300: #949494;
    --dark200: #D0D0D0;
    --dark100: #EDEDED;
    --violeta400: #7C71C9;
    --violeta300: #A199DD;
    --violeta200: #D8D4FA;
    --violeta100: #ebe3ff;
    --violeta600: #362E71;
    --verde400: #91B04A;
    --verde300: #C3DD8A;
    --verde200: #DAECB1;
    --verde100: #F5FFDD;
    --verde600: #5C7D10;
    --naranja400: #C39041;
    --naranja300: #E8C186;
    --naranja200: #F3DBB4;
    --naranja100: #FFF5E7;
    --naranja600: #B17415;
    --azul400: #4FACA9;
    --azul300: #9FDEDC;
    --azul200: #C6F4F3;
    --azul100: #E7FFFE;
    --azul600: #0F827E;
}





// GLOBALES ///////////////////////////////////////////////////////////////////////



// Estilos globales -------------------------------------------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $font-family-base;
}

.contenedor {
    width: 86%;
    margin: 30px auto;
}







// COMPONENTS ///////////////////////////////////////////////////////////////////////




// Botones -------------------------------------------------------------
button {
    all: unset;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

// CTA ---
.cta-btn {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 150px;
    border: 2px solid var(--violeta400);
    background-color: var(--violeta400);
    color: var(--white);


    &:hover {
        background-color: var(--violeta600);
        border: 2px solid var(--violeta600);
    }

    &--form {
        width: 150px;
    }
}

// GHOST ---
.ghost-btn {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 150px;
    border: 2px solid var(--violeta400);
    background-color: transparent;
    color: var(--violeta400);

    &:hover {
        background-color: var(--violeta400);
        color: var(--white);
    }

    &--clasica {
        border: 2px solid var(--violeta400);
        color: var(--dark);

        &:hover {
            background-color: var(--violeta400);
            color: var(--white);
        }

        &.activa {
            background-color: var(--violeta400);
            color: var(--white);
        }
    }

    &--vegana {
        border: 2px solid var(--verde400);
        color: var(--dark);

        &:hover {
            background-color: var(--verde400);
            color: var(--white);
        }

        &.activa {
            background-color: var(--verde400);
            color: var(--white);
        }
    }

    &--celiaca {
        border: 2px solid var(--naranja400);
        color: var(--dark);

        &:hover {
            background-color: var(--naranja400);
            color: var(--white);
        }

        &.activa {
            background-color: var(--naranja400);
            color: var(--white);
        }
    }

    &--keto {
        border: 2px solid var(--azul400);
        color: var(--dark);

        &:hover {
            background-color: var(--azul400);
            color: var(--white);
        }

        &.activa {
            background-color: var(--azul400);
            color: var(--white);
        }
    }
}











// Cards -------------------------------------------------------------
.card {
    background: var(--white);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.2s;
    width: 250px;
}

.card:hover {
    transform: translateY(-5px);
    /* Efecto de elevación al pasar el mouse */
    cursor: pointer;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.2em;
    color: var(--dark);
}

.card-type,
.card-id {
    margin: 5px 0;
    color: var(--dark);
    line-height: 1.4rem;
}

.card-price{
    margin: 5px 0;
    color: var(--violeta600);
    font-weight: 700;
}










// LAYOUT ///////////////////////////////////////////////////////////////////////////////////////


// Header ---------------------------------------------------------------------------------------
header {
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    transition: all 0.3s ease;
    width: 100%;
    background-color: var(--white);
}

.navbar.sticky {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menu-links {
    list-style: none;
}

.menu-links li {
    display: inline-block;
    padding: 0 20px;
}

.menu-links li a {
    color: var(--dark);
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

.menu-links li a:hover {
    color: var(--violeta400);
}

.navbar-operations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.navbar-operations a {
    font-weight: 500;
}

.box {
    color: var(--dark);
}

.box .material-symbols-rounded {
    color: var(--dark);
    font-size: 36px;
    transition: all 0.3s ease 0s;
}

.box .material-symbols-rounded:hover {
    color: var(--violeta400);
}

.banner{
    width: 100%;
      height: 600px;
      background-image: url('https://res.cloudinary.com/dbkdcvezf/image/upload/v1734034319/pexels-victorfreitas-8411eeeee545430_s089qk.jpg');
      background-size: cover;
      background-position: 50% 30%;
      margin-bottom: 80px;
}



// PAGES ////////////////////////////////////////////////////////////////////////////////////////

.listado-barritas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    padding: 40px 0;
}


// Home -------------------------------------------------------------------


#section-destacados{
    border-radius: 8px;
    background-color: var(--violeta100);
    padding: 40px 80px 20px;
    margin-bottom: 100px;
}

#section-planes{
    border-radius: 8px;
    padding: 20px;
}

#section-planes h2{
    margin-bottom: 40px;
}






// Listado barritas -------------------------------------------------------------------
#seccion-filtros-sabor {
    background-color: var(--violeta100);
    flex: 1;
    border-radius: 8px;
}

#section-barritas {
    padding: 0 0 0 40px;
    flex: 3;
}







// Ampliación barrita -------------------------------------------------------------------
/*
    display: flex;
    justify-content: center;
    align-items: flex-start;
*/

.barrita-image {flex: 1;}
.barrita-info {flex: 1.2;}


.barrita-image{
    background-color: var(--violeta100);
    border-radius: 8px;
}
.barrita-image img {
    width: 100%;
    border-radius: 8px;
}

.barrita-info h3 {
    font-size: 1.2rem;
    letter-spacing: 1.6;
    margin-bottom: 20px;
}

.barrita-description {
    font-size: 16px;
    line-height: 1.6;
    color: var(--dark300);
    margin-bottom: 20px;
}

.barrita-price {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark300);
    margin-bottom: 20px;
}



// Login y register -----------------------------------------------------------------------------
.body-background {
    background-color: var(--violeta100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--dark)
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

#login-form {
    background: var(--white);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#register-form {
    background: var(--white);
    padding: 40px;
    border-radius: 3px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

#login-form h1,
#register-form h1 {
    margin: 10px 0 30px 0;
    ;
    font-size: 24px;
    color: var(--dark);
}


#register-form form {
    display: flex;
    flex-wrap: wrap;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--dark);
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--dark200);
    border-radius: 3px;
    font-size: 16px;
    color: var(--dark);
    background-color: #f9f9f9;
    transition: border-color 0.3s;

    &:focus {
        border-color: var(--violeta400);
        outline: none;

    }
}

.form-final-prompt {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--dark);
}

a .ghost-btn {
    color: var(--violeta400);
}

#login-link {
    color: var(--violeta400);
    text-decoration: none;
}

#login-link:hover {
    text-decoration: underline;
}








// Pedido -------------------------------------------------------------------------------
.layout {
    display: flex;
    gap: 2.5rem;
}

.details {
    flex: 3;
}

.summary {
    flex: 2;
}

.details h2,
.summary h2 {
    margin-bottom: 20px;
}

.block {
    background-color: var(--white);
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.block form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.block form label {
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.block form .input-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 1rem);
    //Toma la mitad del ancho menos el espacio entre elementos
}

.block form input {
    padding: 0.8rem;
    border: 1px solid var(--dark100);
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}

.switch {
    display: flex;
    gap: 1rem;
}

.switch label {
    font-size: 1rem;
}

.order-summary p {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: 20px;
}

.order-summary .total {
    font-weight: bold;
    font-size: 1.2rem;
}

#form-pedido-submit {
    width: 90%;
    margin-bottom: 40px;
}

.buy-button:hover {
    background-color: var(--dark);
}

.order-list ul {
    list-style: none;
    padding: 0;
}

.order-list li {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--dark100);
}