@use '../base/variables';
@use '../base/estilos';

/* Estilo base para la barra de navegación */
.navbar {
    background-color: var(--white); /* Fondo blanco para mantener la neutralidad */
    padding: 20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Aseguramos que esté por encima de otros elementos */
  }
  
  .navbar .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .navbar-logo a {
    font-size: 1.8em;
    font-weight: 600;
    color: var(--dark);
    text-decoration: none;
    letter-spacing: 1px;
  }
  
  .navbar-menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .navbar-menu ul li a {
    font-size: 1.1em;
    color: var(--dark);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-menu ul li a:hover {
    color: #A199DD; /* Violeta suave al pasar el mouse */
  }
  
  /* Estilo para pantallas pequeñas */
  @media (max-width: 768px) {
    .navbar-menu ul {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }
  